<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ionoi_Gift>
            <version>1.0.4</version>
        </Ionoi_Gift>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gift before="Mage_Adminhtml">Ionoi_Gift_Adminhtml</gift>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <gift>
                    <files>
                        <default>Ionoi_Gift.csv</default>
                    </files>
                </gift>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <gift>
                    <files>
                        <default>Ionoi_Gift.csv</default>
                    </files>
                </gift>
            </modules>
        </translate>
        <layout>
            <updates>
                <gift>
                    <file>gift.xml</file>
                </gift>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <core_session_abstract_add_message>
                <observers>
                    <gift>
                        <type>singleton</type>
                        <class>gift/observer</class>
                        <method>onAbstractSessionMessageAdded</method>
                    </gift>
                </observers>
            </core_session_abstract_add_message>
            <sales_quote_address_collect_totals_after>
                <observers>
                    <gift>
                        <type>singleton</type>
                        <class>gift/observer</class>
                        <method>onQuoteAddressTotalsCollected</method>
                    </gift>
                </observers>
            </sales_quote_address_collect_totals_after>
        </events>
        <models>
            <gift>
                <class>Ionoi_Gift_Model</class>
                <resourceModel>gift_resource</resourceModel>
            </gift>
            <gift_resource>
                <class>Ionoi_Gift_Model_Resource</class>
                <entities>
                    <rule>
                        <table>gift_rule</table>
                    </rule>
                    <product_attribute>
                        <table>gift_rule_product_attribute</table>
                    </product_attribute>
                    <website>
                        <table>gift_rule_website</table>
                    </website>
                    <customer_group>
                        <table>gift_rule_customer_group</table>
                    </customer_group>
                    <product>
                        <table>gift_rule_product</table>
                    </product>
                    <label>
                        <table>gift_rule_label</table>
                    </label>
                </entities>
            </gift_resource>
        </models>
        <resources>
            <gift_setup>
                <setup>
                    <module>Ionoi_Gift</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gift_setup>
            <gift_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gift_write>
            <gift_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gift_read>
        </resources>
        <blocks>
            <gift>
                <class>Ionoi_Gift_Block</class>
            </gift>
        </blocks>
        <helpers>
            <gift>
                <class>Ionoi_Gift_Helper</class>
            </gift>
        </helpers>
    </global>
</config>